/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* -----CSS reset--End------- */

*{
    box-sizing: border-box;
}

body {
    /* 為什麼在body設flex沒有辦法讓.button置中 */
    /* 讓width超過1200px所有東西置中 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: "Noto Sans TC",sans-serif;
    background-color: #F2F2F2;
    letter-spacing: 2px;
}
body a {
    text-decoration: none;
}
.container {
    max-width: 1200px;
}


/* --------Header Style-------- */
h1 {
    float:left;
    font-size: 2.5em;
    color: #F29F05;
    padding-top: 1.2rem;
    padding:1.2rem;
}
.banner,
.navlink {
    text-align:center;
}
input {
    display: none;
}
.burger {
    float: right;
    width: 2.5em;
    margin: 1.5em;
}

/* 選單列 */
.navbar li {
    clear:both;
    margin:0.5em;
    letter-spacing: 2px;
    font-size: 1.4em;
    border-bottom: 1px solid #727070dc;
}
.navbar a {
    display: block;
    padding: 10px 0;
    color: #F29F05;
}
.navbar a:hover {
    background-color: #F29F05;
    color:#7c6106;
}

/* 選單列效果 */
.navbar {
    max-height: 0;
    overflow: hidden; 
}
input:checked ~ .navbar {
    clear: both;
    max-height: 600px;
}

/* --------Banner Style-------- */
.banner {
    clear: both;
    background-color: #F2B705;
    letter-spacing: 2px;
}
.logo {
    width:40%;
}
.headline {
    font-size: 1.5em;
    color:#F2F2F2;
    margin: 0.8em;
}
.banner span {
    display:inline-block;
    font-size: 1em;
    color:#F2F2F2;
    margin-bottom: 1.5em;
}


/* --------Column Style--------- */
.section-title{
    font-size: 1.6em;
    margin: 1.5em;
    color: #F29F05;
}
.section-title,
.col {
    text-align: center;
}
.col img{
    width: 80%;
}

.col h3 {
    font-size: 1.4em;
    margin: 1.5em;
    color: #F29F05;
}
.col p {
    padding: 2em;
    padding-top: 0;
    line-height: 24px;
    color: #3b2d01;
}
.button {
    display: block;
    margin: 0 auto;
    margin-bottom: 2em;
    padding: 0.8em;
    width: 60%;
    text-align: center;
    
    border-radius: 15px;
    background-color: #F29F05;
    color: #F2F2F2;
    font-size: 1.2em;
}

/* --------Footer--------- */
footer {
    background-color:#F2B705 ;
    padding: 2em 1em;
    font-size: 0.6em; 
    text-align: center;
}


/* -----Media Query Start---
-------Middle Size ------ */
@media only screen 
and (min-width: 500px) {
    h1 {
        font-size: 2em;
    }

    .logo {
        width: 30%;
    }

/* -----Middle Size Column Section------- */
    .col-container {
        display:flex;
        flex-direction: column;
    }


    .col {
        display:flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 1.5em;
    }
    .test1,
    .test2 {
        display: flex;
        flex:1;
        justify-content: center;
    }

    .test2 {
        order:1;
    }
    .first-col-text,
    .second-col-text {
        display:flex;
        flex-direction: column;
        justify-content: center;
        flex:1;
        flex-wrap: wrap;
    }
    
    .col h3 {
        margin: 0.5em;
        font-size: 1.2em;
    }
    .col p {
        padding: 1.2em;
        margin: 0.2em;
        font-size: 0.9em;
        line-height: 20px;
    }
    
    .button {
        font-size: 1.2em;
        width: 50%;
    }
}

/* -----Media Query ------
-------Large Size ------ */
@media only screen 
and (min-width: 800px) {
    /* 關掉漢堡 */
    label {
        display: none;
    }
    .navbar {
        float: right;
        max-height: 70px;
    }
    .navlink {
        display: inline-block;
        font-size: 0.8em;
    }
    .navbar li {
        border: none;
        padding-top: 10px;
        color:#F29F05;
    }
    .logo {
        width:15%;
    }
    
/* -----Large Size Column Section------- */
    .col-container {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .first-col-text,
    .second-col-text {
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .col h3 {
        margin: 0.8em;
        font-size: 1.4em;
    }
    .first-col-text p,
    .second-col-text p {
        font-size: 1.1em;
        line-height: 24px;
    }  

    /* 限制img width會影響到視窗大到約1420以上
    兩邊會出現留白，但不知道為什麼 */
    .col img {
        width: 25em;
    } 

    .test2 {
        order:1;
    }
    .button {
        width: 30%;
        margin-top: 2em;
    }

    .footer {
        text-align: left;
        padding: 1em 0.5em;
    }
}






